<%if user_signed_in? %>
  <% content_for :title, "Friends" %>

  <h1>Friend List</h1>

  <div id="friends">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Twitter</th>
          <th>User Id</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <% @friends.each do |friend| %>
            <tr>
                  <%= render friend %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New friend", new_friend_path %>
<% else %>
  <h1>Home World!</h1>
<% end %>